$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$header-color: rgb(0, 0, 0);
$footer-color: rgb(245, 245, 245);
$link-hover: rgb(0, 123, 255);
$small-width: 700px;
$header-height: 3.5rem;

$sidebar-width: 25rem;
$sidebar-color: white;
$portfolio-background: #f2f2f2;
$link-color: #0969da;
$tab-list-color: rgb(49, 51, 53);
$tab-list-hover: rgba(240, 240, 240, 0.451);