/*  
file prefixed with an underscore to indicate that 
this is a partial file and is meant to be imported 
into other SCSS files. 
*/

$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$header-color: rgb(0, 0, 0);
$footer-color: rgb(245, 245, 245);
$link-hover: rgb(0, 123, 255);
$small-width: 700px;
$header-height: 3.5rem;

$sidebar-width: 17rem;
$portfolio-background: #f2f2f2;