section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  padding: 2rem 10rem;

  @media only screen and (max-width: $small-width) {
    padding: 1rem 2rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

#banner {
  background-color: black;
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $small-width) {
      flex-direction: column;
    }

    .container-item {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      align-content: center; /* Center items vertically */

      @media only screen and (max-width: $small-width) {
        justify-content: center;
        h1 {
          font-size: 2.5rem;
        }
      }

      .contact-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        color: white;
        margin: 1rem 0; 

        @media only screen and (max-width: $small-width) {
          justify-content: center;
        }

        .contact-bubble{
          display: flex;
          flex-direction: row; 
          align-items: center; 
          height: 2.5rem;
          width: 9rem;
          border: 1px solid white; 
          border-radius: 5rem;
          padding: 10px;
          margin: 0.2rem;
          text-decoration: none;
          color: white;
          transition: background-color 0.3s ease;

          &:hover{
            background-color: grey;
          }

          .icon {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            margin: 0.1rem;
            color: white;
            overflow: hidden;
            position: relative;
            text-align: center;
            text-justify: center;
          
            i {
              line-height: 50px;
              font-size: 1.5rem;
            }
          }
        }

      }

      img {
        justify-self: center;
        align-self: center;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.07rem;

        @media only screen and (max-width: $small-width) {
          margin-top: 3rem;
        }
      }
    }
  }
}

.quote {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #fff;

  @media only screen and (max-width: $small-width) {
    height: 100%;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    text-align: left;
  }
  
  p {
    font-size: 1.25rem;
    text-align: left;
  }

  h1, p {
    transition: opacity 1s; /* Add a CSS transition for opacity */
    
    @media only screen and (max-width: $small-width) {
      text-align: center;
    }
  }
  
  .gradient1 {
    background-image: linear-gradient(to right, white, grey);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient2 {
    @extend .gradient1;
    background-image: linear-gradient(to right, rgb(224, 221, 221), black);
  }
}

#about {
  background-color: white;
  padding-inline: 9rem;
  @media only screen and (max-width: $small-width) {
    padding: 1rem 2rem;
  }
}

#skills {
  padding-inline: 6rem;
  padding-top: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: $small-width) {
    padding-inline: 0.5rem;
    flex-direction: column;
  }
  .container {
    flex: 1;
    h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .bubbles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .bubble {
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: #000;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 20px;
        margin: 10px;
      }
    }
  }
}

#strengths {
  @extend #skills;
  padding-top: 0;
  padding-bottom: 0;
}

#portfolio {
  padding: 0;
  height: 27.5rem;

  @media only screen and (max-width: $small-width) {
    height: 800px;
  }

  h2 {
    text-align: left;
    margin: 0 0.5rem;
  }

  .carousel {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0rem;

    .carousel-slides {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .carousel-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
          opacity: 1;
        }

        .carousel-container {
          display: flex;
          flex-direction: column;
          justify-items: center;
          width: 100%;
          height: 100%;
          padding: 0rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .overlay-text {
            position: absolute; /* Set the text layer to an absolute position */
            top: 50%; /* Adjust the top and left values to position the text */
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
            background-color: rgba(255, 255, 255, 0.7); /* Optional: add a semi-transparent background */
            padding: 1rem 8rem; /* Optional: add some padding to the text */
            font-size: 16px; /* Optional: adjust the font size and other text styles */

            @media only screen and (max-width: $small-width) {
              padding: 1rem 2rem;
            }

            .button {
              display: inline-block;
              background-color: $header-color;
              border: 1px solid $footer-color;
              border-radius: 1rem;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
              color: white;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              width: 11rem;
              padding: 10px 20px;
              margin: 10px;
              margin-top: auto;
            }
          }
        }
      }
    }

    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .pagination {
      z-index: 1;
      padding: 0.5rem;
      margin: 0 auto; // center horizontally
      margin-top: auto;
      border-radius: 3rem;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background-color: rgba(171, 171, 171, 0.18);
      }

      .page-btn {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 0.2rem;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color 0.3s ease-in-out;
      
        &:hover,
        &.active {
          background-color: grey;
        }
      }
    }

    .portfolio-button{
      display: flex;
      flex-direction: row; 
      align-items: center; 
      position: absolute;
      height: 2.5rem;
      width: 12rem;
      background-color: rgb(16, 16, 16);
      border: 1px solid white; 
      border-radius: 5rem;
      padding: 10px;
      margin: 0 8rem;
      // margin: 0 auto; // center horizontally
      // left: 50%; /* Center horizontally */
      // transform: translateX(-50%); /* Adjust for horizontal centering */
      bottom: 3rem;
      text-decoration: none;
      color: white;
      transition: background-color 0.3s ease;
      z-index: 2;

      @media only screen and (max-width: $small-width) {
        margin: 8rem 0;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for horizontal centering */
      }
    
      &:hover{
        background-color: rgb(95, 95, 95);
      }
    
      .icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin: 0.1rem;
        color: white;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-justify: center;
      
        i {
          line-height: 50px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
