// @import '_variables';

section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  padding: 2rem 10rem;

  @media only screen and (max-width: $small-width) {
    padding: 1rem 2rem;
  }

  h2 {
    font-size: 2rem;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

#banner {
  background-color: black;
  height: 25rem;
}

.quote {
  background-color: $secondary-color;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #fff;

  h1 {
    font-size: 3rem;
    text-align: left;
  }
  
  p {
    font-size: 1.5rem;
    text-align: left;
  }
  
  .gradient1 {
    background-image: linear-gradient(to right, white, grey);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient2 {
    @extend .gradient1;
    background-image: linear-gradient(to right, rgb(40, 39, 39), white);
  }
}

#about {
  padding-inline: 8rem;
  @media only screen and (max-width: $small-width) {
    padding: 1rem 2rem;
  }
}

#skills {
  padding-inline: 3rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: $small-width) {
    padding-inline: 0.5rem;
    flex-direction: column;
  }
  .container {
    flex: 1;
    h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .bubbles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .bubble {
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: #000;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        margin: 10px;
      }
    }
  }
}

#portfolio {
  padding: 0rem;
  height: 580px;

  @media only screen and (max-width: $small-width) {
    height: 800px;
  }

  h2 {
    text-align: left;
    margin: 0 0.5rem;
  }

  .carousel {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0rem;

    .carousel-slides {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .carousel-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
          opacity: 1;
        }

        .carousel-container {
          display: flex;
          flex-direction: column;
          justify-items: center;
          width: 100%;
          height: 100%;
          padding: 0rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .overlay-text {
            position: absolute; /* Set the text layer to an absolute position */
            top: 50%; /* Adjust the top and left values to position the text */
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
            background-color: rgba(255, 255, 255, 0.7); /* Optional: add a semi-transparent background */
            padding: 1rem 8rem; /* Optional: add some padding to the text */
            font-size: 18px; /* Optional: adjust the font size and other text styles */

            @media only screen and (max-width: $small-width) {
              padding: 1rem 2rem;
            }

            .button {
              display: inline-block;
              background-color: $header-color;
              border: 1px solid $footer-color;
              border-radius: 1rem;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
              color: white;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              width: 11rem;
              padding: 10px 20px;
              margin: 10px;
              margin-top: auto;
            }
          }
        }
      }
    }

    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .pagination {
      z-index: 1;
      padding: 0.5rem;
      margin: 0 auto; // center horizontally
      margin-top: auto;
      border-radius: 3rem;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background-color: rgba(171, 171, 171, 0.18);
      }

      .page-btn {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 0.2rem;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color 0.3s ease-in-out;
      
        &:hover,
        &.active {
          background-color: grey;
        }
      }
      
    }
  }
}

#contact {
  list-style: none;
  background-color: black;
  color: white;
  min-height: none;
  
  .quote {
    height: 18rem;
  }

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $link-hover;
      }

      img {
        width: 2.5rem;
      }
    }
  }
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #fff;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #000;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  text-align: center;
  text-justify: center;
}

.btn i {
  line-height: 50px;
  font-size: 24px;
  transition: 0.5s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #000;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 1s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
      left: -110%;
      top: 90%;
  }
  50% {
      left: 10%;
      top: -30%
  }
  100% {
      top: -10%;
      left: -10%;
  }
}























