section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 10%;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: $small-width) {
    padding: 1rem 0;
  }

  h2 {
    font-family: $heading-font;
    font-size: 1.8rem;
    text-align: left;
    padding: 0.5rem 0;
  }

  &:first-of-type {
    padding-top: $header-height;

    @media only screen and (max-width: $small-width) {
      padding-top: 0;
    }
  }

  .portfolio-button{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    position: absolute;
    height: 2.5rem;
    width: 16rem;
    border: 0.07rem solid black; 
    border-radius: 5rem;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;

    @media only screen and (max-width: $small-width) {
      align-self: center;
    }
  
    &:hover{
      background-color: rgba(221, 221, 221, 0.61);
      border-width: 0.1rem;
    }
  
    .icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin: 0.1rem;
      color: black;
      overflow: hidden;
      position: relative;
      text-align: center;
      text-justify: center;
    
      i {
        line-height: 50px;
        font-size: 1.5rem;
      }
    }
  }
}

#banner {
  background-color: black;

  .split-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $small-width) {
      flex-direction: column;
    }

    .container-item {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      align-content: center;

      @media only screen and (max-width: $small-width) {
        justify-content: center;
      }

      .profile-img {
        justify-self: center;
        align-self: center;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.07rem;

        @media only screen and (max-width: $small-width) {
          margin-top: 3rem;
        }
      }

      .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        color: #fff;

        @media only screen and (max-width: $small-width) {
          height: 100%;
          margin-bottom: 2rem;
        }

        .heading {
          font-family: $heading-font;
          text-transform: uppercase;
          display: inline-block;
          font-size: clamp(2.5rem, 5vw, 3.5rem);
          text-align: left;

          @media only screen and (max-width: $small-width) {
            text-align: center;
            font-size: 2.4rem;
          }
        }

        .sub-heading {
          font-family: $subheading-font;
          font-size: 1.25rem;
          text-align: left;

          @media only screen and (max-width: $small-width) {
            text-align: center;
          }
        }
      }

      .image-container {
        display: flex;
        img{
          height: 41px;
          margin: 1rem 1rem 0rem 1rem;
          filter: brightness(0) invert(1);
        }
        @media only screen and (max-width: $small-width) {
          justify-content: center;
          img{
            margin-top: 0rem;
            height: 35px;
          }
        }
      }

      .social-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        color: white;
        margin: 1rem 0;

        @media only screen and (max-width: $small-width) {
          justify-content: center;
        }

        .social-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 2.5rem;
          width: 7.2rem;
          border: 0.07rem solid white;
          border-radius: 5rem;
          padding: 10px;
          margin: 0.2rem;
          text-decoration: none;
          color: white;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: grey;
            border-width: 0.1rem;
          }

          .icon {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin: 0.1rem;
            color: white;
            overflow: hidden;
            position: relative;
            text-align: center;
            text-justify: center;

            i {
              line-height: 33px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

#about {
  background-color: white;

  @media only screen and (max-width: $small-width) {
    padding: 1rem 2rem;
  }

  .portfolio-button{
    position: relative;
    margin: 2rem 0;
  }
}

#skills {
  padding-top: 0;
  background-color: rgb(244, 242, 238);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: $small-width) {
    padding-inline: 0.5rem;
    flex-direction: column;
  }
  .container {
    flex: 1;
    h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .bubbles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .bubble {
        font-family: $subheading-font;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: #000;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 20px;
        margin: 10px;
      }
    }
  }
}

#strengths {
  @extend #skills;
  padding-top: 0;
  padding-bottom: 0;
}

#portfolio {
  padding: 0;
  height: 27.5rem;

  @media only screen and (max-width: $small-width) {
    height: 800px;
  }

  h2 {
    text-align: left;
  }

  .carousel {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0rem;

    .carousel-slides {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .carousel-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
          opacity: 1;
        }

        .carousel-container {
          display: flex;
          flex-direction: column;
          justify-items: center;
          width: 100%;
          height: 100%;
          padding: 0rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.7);
            padding: 1rem 8rem;
            font-size: 16px;

            @media only screen and (max-width: $small-width) {
              padding: 1rem 2rem;
            }

            .button {
              display: inline-block;
              background-color: $header-color;
              border: 1px solid $footer-color;
              border-radius: 1rem;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
              color: white;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              width: 11rem;
              padding: 10px 20px;
              margin: 10px;
              margin-top: auto;
            }
          }
        }
      }
    }

    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 0 8rem;

      @media only screen and (max-width: $small-width) {
        padding: 0 2rem;
      }
    }

    .portfolio-button {
      position: relative;
      align-self: flex-start;
      top: 18rem;
      z-index: 999;

      @media only screen and (max-width: $small-width) {
        align-self: center;
        top: 22rem;
      }
    }

    .pagination {
      z-index: 1;
      padding: 0.5rem;
      margin: 0 auto;
      margin-top: auto;
      border-radius: 3rem;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background-color: rgba(171, 171, 171, 0.18);
      }

      .page-btn {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 0.2rem;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color 0.3s ease-in-out;
      
        &:hover,
        &.active {
          background-color: grey;
        }
      }
    }
  }

}

