.wrapper{
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding-inline: .5vw;

  @media all and (max-width: $small-width) {
    padding-inline: 0;
  }
  
  .content {
    margin-left: 3rem;
    min-height: 100vh;
    width: 100%;
    padding: 5rem;
    // box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2), -2px 0 2px -2px rgba(0, 0, 0, 0.2);

    @media all and (max-width: $small-width) {
      margin-left: 0;
      width: 100%;
      padding: 5rem 1rem;
    }
  }

  .list {
    @extend .content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;

    @media all and (max-width: $small-width) {
      width: 100vw;
      margin-right: none;
      margin-left: none;
      padding-inline: 1rem;
    }

    h1 {
      // font-family: 'Optimistic Display';
    }
  }

  .tabular-list{
    border: .002rem solid rgb(208, 215, 222); /* 2px black solid border */
    border-radius: 10px; /* 10px border radius for rounded edges */
    overflow: hidden;
    margin-top: 1rem;
    box-shadow: 0 0 10px 0.5px rgba(.025, .025, .025, .025);

    .table-header{
      background-color: $tab-list-hover;
      font-weight: 530;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      color: $tab-list-color;
    }

    a {
      color: $tab-list-color;
      text-decoration: none;
      
      li {
        display: flex;
        padding: .5rem 1rem;
        list-style: none;
        border-top: 1px solid hsla(210,18%,87%,1);

        .icon{
          padding-right: 0.8rem;
        }
        // border-radius: 0.5rem;
        // margin-bottom: 0.2rem;
        &:hover{
          text-decoration: underline;
          background-color: $tab-list-hover;
        }
      }
    }
  }

  .sidebar {
    position: -webkit-sticky; /* Safari */
    position: sticky; /* Make the sidebar fixed */
    top: $header-height+2rem; /* Stick the sidebar to the top of the viewport */
    bottom: 1rem; /* Stretch the sidebar to the bottom of the viewport */
    left: 3rem; /* Stick the sidebar to the left of the viewport */
    width: $sidebar-width;
    max-height: calc(100vh - $header-height*3);
    overflow-y: auto;
    transition: top 0.2s ease-in-out;
    z-index: 1000;
    -ms-overflow-style: none;  /* IE and Edge */

    @media all and (max-width: $small-width) {
      display: none;
    }

    // &::before{
    //   width: 100%;
    //   height: 30px;
    //   background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));
    // }

    // &::after{
    //   width: 100%;
    //   height: 30px;
    //   background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.9));
    // }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent; /* Initially transparent */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0); /* Initially transparent */
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out; /* Smooth transition */
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0); /* Initially transparent */
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out; /* Smooth transition */
    }
  
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.5); /* Visible on hover */
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.137); /* Visible on hover */
      }
      scrollbar-width: thin; /* Firefox */
      -ms-overflow-style: scrollbar; /* IE and Edge */
    }
  }

  .notice{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .15rem solid $notice-color; /* 2px black solid border */
    border-radius: 10px; /* 10px border radius for rounded edges */
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: $notice-color;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(.025, .025, .025, .025);

    .text {
      margin: 0.1rem;
      padding: 0.1rem;
    }

    .icon {
      display: inline-block;
      // width: 2rem;
      // height: 2rem;
      margin: 0rem 1rem;

      // position: relative;
      text-align: center;
      text-justify: center;
    
      i {
        line-height: 35px;
        font-size: 1rem;
      }
    }
  }
}