.wrapper{
  background-color: white;
  
  .content {
    margin-left: $sidebar-width+3rem;
    min-height: 100vh;
    width: 70%;
    padding: 5rem;

    .markdown-body2{
      a {
        color: rgb(94, 94, 94);
        text-decoration: none;
        
        li {
          padding-inline: 1rem;
          list-style: none;
          border: 0.1rem solid rgb(130, 130, 130);
          border-radius: 0.5rem;
          margin-bottom: 0.2rem;
          &:hover{
            background-color: rgba(215, 215, 215, 0.451);
          }
        }
      }
    }

  }
  
  .sidebar {
    position: fixed; /* Make the sidebar fixed */
    top: $header-height; /* Stick the sidebar to the top of the viewport */
    bottom: 0; /* Stretch the sidebar to the bottom of the viewport */
    left: 3rem; /* Stick the sidebar to the left of the viewport */
    width: $sidebar-width;
    padding-top: 5rem;
    overflow-y: auto; /* Enable scrolling if content overflows */
    transition: top 0.2s ease-in-out;
    
    h2 {
      margin: 0 0 1em 0;
    }
    
    h3 {
      background-color: #767676;
      color: white;
      margin: 0;
      padding: 0 20px;
      font-weight: normal;
      line-height: 2;
      text-transform: uppercase;
      font-size: 90%;
    }
  
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      // background-color: $portfolio-background;

      a {
        text-decoration: none;
      }

      li {
        padding: 10px;
        color: #333;
        background-color: white;
        margin-top: 0.2rem;
        border-bottom: 1px solid #ccc; /* Add a solid border to the bottom */
  
        cursor: pointer;
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
  
  @media all and (max-width: $small-width) {
    .content {
      margin-left: 0;
      width: 100%;
      padding: 5rem 2.5rem;
    }
    .sidebar {
      display: none;
    }
  }
}