.wrapper{
  background-color: white;
  
  .content {
    margin-left: $sidebar-width+3rem;
    width: 70%;
    padding: 5rem;
  }
  
  .sidebar {
    position: fixed; /* Make the sidebar fixed */
    top: $header-height; /* Stick the sidebar to the top of the viewport */
    bottom: 0; /* Stretch the sidebar to the bottom of the viewport */
    left: 3rem; /* Stick the sidebar to the left of the viewport */
    width: $sidebar-width;
    padding-top: 5rem;
    overflow-y: auto; /* Enable scrolling if content overflows */
    transition: top 0.2s ease-in-out;
    
    h2 {
      margin: 0 0 1em 0;
    }
    
    h3 {
      background-color: #767676;
      color: white;
      margin: 0;
      padding: 0 20px;
      font-weight: normal;
      line-height: 2;
      text-transform: uppercase;
      font-size: 90%;
    }
  
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      // background-color: $portfolio-background;
      li {
        padding: 10px;
        color: #333;
        background-color: white;
        margin-top: 0.2rem;
        border-bottom: 1px solid #ccc; /* Add a solid border to the bottom */
  
        cursor: pointer;
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
  
  @media all and (max-width: $small-width) {
    .sidebar {
      display: none;
    }
  }
}