.wrapper{
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding-inline: .5vw;

  @media all and (max-width: $small-width) {
    padding-inline: 0;
  }
  
  .content {
    margin-left: 3rem;
    min-height: 100vh;
    width: 100%;
    padding: 5rem;
    padding-top: 4rem;

    @media all and (max-width: $small-width) {
      margin-left: 0;
      width: 100%;
      padding: 5rem 1rem;
    }
  }

  .list {
    @extend .content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;

    @media all and (max-width: $small-width) {
      width: 100vw;
      margin-right: none;
      margin-left: none;
      padding-inline: 1rem;
    }

    h1 {
      // font-family: 'Optimistic Display';
    }
  }

  .tabular-list{
    border: .002rem solid $tab-list-border-color;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 1rem;
    box-shadow: 0 0 10px 0.5px rgba(.025, .025, .025, .025);

    .table-header{
      background-color: $tab-list-hover;
      font-weight: 530;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      color: $tab-list-color;
    }

    a {
      color: $tab-list-color;
      text-decoration: none;
      
      li {
        padding: .65rem 1rem;
        list-style: none;
        border-top: 1px solid hsla(210,18%,87%,1);

        .icon{
          padding-right: 0.8rem;
        }

        &:hover{
          .primary {
            text-decoration: underline;
          }
          background-color: $tab-list-hover;
        }
      }

      .link-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media all and (max-width: $small-width) {
          flex-direction: column;
        }
      }

      .primary{
        display: flex;
        flex-direction: row;
      }

      .secondary {
        display: flex;
        text-align: right;
        flex-direction: row;
        color: $tab-list-color-2;
      }
    }
  }

  .sidebar {
    position: sticky;
    top: $header-height+4rem;
    bottom: 1rem;
    left: 3rem;
    width: $sidebar-width;
    border: .002rem solid $tab-list-border-color;
    border-radius: 0.5rem;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 0 10px 0.5px rgba(.025, .025, .025, .025);
    transition: top 0.2s ease-in-out;

    @media all and (max-width: $small-width) {
      display: none;
    }
  }

  .sidebar-header {
    background-color: $tab-list-hover;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid hsla(210,18%,87%,1);
    font-size: 1rem;
    color: $tab-list-color;
  }

  .sidebar-content {
    max-height: 65vh;
    overflow-y: auto;
    -ms-overflow-style: none; // IE10 & IE 11

    .tabular-list{
      margin-top: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;

      a{
        li {
          padding: .4rem 1rem;
        }
        .link-container{
          flex-direction: column;
        }
        .secondary{
          text-align: left;
        }
        &:first-of-type {
          li {
            border: none;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.09);
      border-radius: 0.5rem;
    }
  
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.5);
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.137);
      }
      scrollbar-width: thin;
      -ms-overflow-style: scrollbar;
    }
  }
}