.wrapper{
  background-color: white;
  
  .content {
    margin-left: $sidebar-width+3rem;
    min-height: 100vh;
    width: 70%;
    padding: 5rem;
    // box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2), -2px 0 2px -2px rgba(0, 0, 0, 0.2);

  }

  .list {
    @extend .content;
    margin-left: auto;
    margin-right: auto;
  }

    // .markdown-body{
    //   a {
    //     color: rgb(94, 94, 94);
    //     text-decoration: none;
        
    //     li {
    //       padding-inline: 1rem;
    //       list-style: none;
    //       border: 0.1rem solid rgb(130, 130, 130);
    //       border-radius: 0.5rem;
    //       margin-bottom: 0.2rem;
    //       &:hover{
    //         background-color: rgba(215, 215, 215, 0.451);
    //       }
    //     }
    //   }
    // }
  
  .sidebar {
    position: fixed; /* Make the sidebar fixed */
    top: $header-height+3rem; /* Stick the sidebar to the top of the viewport */
    bottom: 7rem; /* Stretch the sidebar to the bottom of the viewport */
    left: 3rem; /* Stick the sidebar to the left of the viewport */
    width: $sidebar-width;
    overflow-y: auto; /* Enable scrolling if content overflows */
    transition: top 0.2s ease-in-out;
    background-color: $sidebar-color;
    // border: solid rgb(221, 221, 221) 0.01rem;
    // border-top-left-radius: 1rem;
    // border-bottom-left-radius: 1rem;
    overflow: hidden;
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Add box shadow */
    
    h2 {
      margin: 0 0 1em 0;
    }
    
    h3 {
      // background-color: rgb(221, 221, 221);
      color: black;
      margin: 0;
      padding: 0 20px;
      font-weight: bold;
      line-height: 3;
      text-transform: uppercase;
      font-size: 90%;
      border-bottom: 1px solid #ccc; /* Add a solid border to the bottom */
    }
  
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
      }

      li {
        padding: 10px;
        color: $link-color;
        background-color: $sidebar-color;
        // margin-top: 0.2rem;
        // border-bottom: 1px solid #ccc; /* Add a solid border to the bottom */
  
        cursor: pointer;
        &:hover {
          // background-color: #f2f2f2;
          text-decoration: underline;
        }
      }
    }
  }
  
  @media all and (max-width: $small-width) {
    .content {
      margin-left: 0;
      width: 100%;
      padding: 5rem 2.5rem;
    }
    .sidebar {
      display: none;
    }
  }
}