@font-face {
  font-family: 'Optimistic Display';
  src: url('/assets/fonts/Optimistic_Display_W_Bd.woff2') format('woff2'); /* Specify the path to your font file and format */
  /* You can also specify font-weight and font-style if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optimistic Text';
  src: url('/assets/fonts/Optimistic_Text_W_Rg.woff2') format('woff2'); /* Specify the path to your font file and format */
  /* You can also specify font-weight and font-style if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optimistic Text';
  src: url('/assets/fonts/Optimistic_Text_W_Bd.woff2') format('woff2'); /* Specify the path to your font file and format */
  /* You can also specify font-weight and font-style if needed */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro Regular';
  src: url('/assets/fonts/Source-Code-Pro-Regular.woff2') format('woff2'); /* Specify the path to your font file and format */
  /* You can also specify font-weight and font-style if needed */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mark Pro, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: white;
  color: #333;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: $header-color;
  color: $primary-color;
  border-style: none;
  border-color: $header-color;
  border-width: 0.005rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  margin: 0;
  padding: 0 2rem;
  width: 100%;
  top: 0;
  // left: 50%;
  z-index: 9999;
  transition: top 0.2s ease-in-out;
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .profile {
      display: flex;

      a {
        color: white;
        text-decoration: none;
      }
      
      h1 {
        font-family: 'Optimistic Display';
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-inline: 0.5rem;
      }
  
      p {
        font-family: 'Optimistic Text';
        align-self: center;
      }
  
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.07rem;
      }
    }

    @media only screen and (max-width: $small-width) {
      p {
        display: none;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        li {
          list-style: none;
          padding-inline: 1rem;

          a {
            color: $primary-color;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  padding: 3rem;
  padding-top: 5rem;
  font-size: 0.75rem;
  color: black;
}

.error {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: white;
  min-height: 100vh;
}

// @keyframes bounce {
//   0%, 20%, 50%, 80%, 100% {
//       transform: translateY(0); /* Bounce back to original position */
//   }
//   40% {
//       transform: translateY(-1.875rem); /* First bounce up */
//   }
//   60% {
//       transform: translateY(-0.9375rem); /* Second bounce up */
//   }
// }

#portfolio-link{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  position: fixed;
  height: 3rem;
  width: 12.5rem;
  background-color: rgb(16, 16, 16);
  border: 1px solid white; 
  border-radius: 5rem;
  padding: 10px;
  margin: 0 2rem;
  right: 0;
  bottom: -100%;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  transition: bottom 0.3s ease;
  z-index: 2;
  // animation: bounce 1s ease-in-out forwards; /* Apply bounce animation */

  // @media only screen and (max-width: $small-width) {
  //   left: 50%; /* Center horizontally */
  //   transform: translateX(-50%); /* Adjust for horizontal centering */
  // }

  &:hover{
    background-color: rgb(95, 95, 95);
  }

  .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0.1rem;
    color: white;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-justify: center;
  
    i {
      line-height: 50px;
      font-size: 1.5rem;
    }
  }
}
