* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mark Pro, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: white;
  color: #333;
  // padding-top: $header-height;

  &::after {
    content: "";
    position: fixed;
    top: 100%; /* Start from the bottom of the viewport */
    left: 0;
    width: 100%;
    height: 100vh; /* Set the height to cover the entire viewport beyond */
    background-color: #C0C0C0; /* Set your desired color for the part beyond */
    z-index: -1; /* Place the pseudo-element behind the content */
  }
}

header {
  background-color: $header-color;
  color: $primary-color;
  border-style: none;
  border-color: $header-color;
  border-width: 0.005rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  margin: 0;
  padding: 0 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  transition: top 0.2s ease-in-out;
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .profile {
      display: flex;
      
      h1 {
        font-size: 1.2rem;
        padding-inline: 0.5rem;
      }
  
      p {
        align-self: center;
      }
  
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.07rem;
      }
    }

    @media only screen and (max-width: $small-width) {
      p {
        display: none;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        li {
          list-style: none;
          padding-inline: 1rem;

          a {
            color: $primary-color;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  padding: 3rem;
  padding-top: 5rem;
  font-size: 0.75rem;
  color: black;
}

.page {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: white;
  min-height: 100vh;
}
