---
layout: layout
permalink: /portfolio
---

<div class="wrapper">
  <div class="list">
    <h1>Engineering Portfolio</h1>
    <div class="update"><p>Last update: <span class="updateTime">Enable JavaScript</span></p></div>

    <br>
    Welcome to my engineering portfolio. I'm excited to showcase my world of innovation, problem-solving, and creative engineering solutions. Explore this collection of projects, designs, and achievements that reflect my passion for pushing the boundaries of technology and making a positive impact on the world.
    <br>

    {% assign projects = site.projects | sort: 'year' %}

    {% for i in (2..5) reversed %}
      <div class="tabular-list">
        {% if i == 5 %}
        <div class="table-header">Recent Projects</div>
        {% else %}
          <div class="table-header">Year {{ i }} Projects</div>
        {% endif %}
        {% for project in projects %}
          {% if project.year == i %}
            {% assign project_title=project.title %}
            {% assign project_href=project.permalink %}
            {% assign project_category=project.category %}
            {% include project-link.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

  </div>
</div>

<script src="/assets/js/fetchUpdate.js" type="text/javascript"></script>