---
permalink: /portfolio
layout: layout
---

<main>
  <!-- <div id="sidebar">
    <h3>Projects</h3>
    <nav>
      <ul>
        {% for project in site.data.data.projects %}
        <li class="project-link" data-title="{{ project.title }}">
          {{ project.title }}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div> -->

  <div class="wrapper">
    <div class="sidebar">
      <h3>Projects</h3>
      <nav>
        <ul>
          {% for project in site.data.data.projects %}
          <li class="project-link" data-title="{{ project.title }}">
            {{ project.title }}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="markdown-body">
        {% capture about %}
          {% include documents/ReflowController.md %}
        {% endcapture %}
        {{ about | markdownify }}
      </div>
    </div>
  </div>
</main>