---
layout: layout
---

<div class="wrapper">
  <div class=sidebar id="sidebar">
    <h3>Projects</h3>
    <nav>
      <ul>
        {% assign projects = site.projects %}
        {% for project in projects %}
          <a href="{{ project.permalink }}">
            <li class="project-link">
              {{ project.title }}
            </li>
          </a>
        {% endfor %}
      </ul>
    </nav>    
  </div>
  <div class="content">
    <div class="markdown-body">
      {{ content }}
    </div>
  </div>
</div>