---
layout: layout
---

<div class="wrapper">
  <div class=sidebar id="sidebar">
    <div class="tabular-list">
      <div class="header">Projects</div>
        {% assign projects = site.projects | sort: 'year' | reverse %}
        {% for project in projects %}
          <a href="{{ project.permalink }}">
            <li class="project-link">
              {{ project.title }}
            </li>
          </a>
        {% endfor %}
    </div>  
  </div>
  <div class="content">
    <div class="markdown-body">
      {% if page.finished == false %}
        <div class="notice">
          <div class="icon">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          This documentation is a work-in-progress, come back later for updates
        </div>
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>