---
layout: layout
---

<div class="wrapper">
  <div class=sidebar id="sidebar">
    <div class="tabular-list">
      <div class="header">Projects</div>
        {% assign projects = site.projects %}
        {% for project in projects %}
          <a href="{{ project.permalink }}">
            <li class="project-link">
              {{ project.title }}
            </li>
          </a>
        {% endfor %}
    </div>  
  </div>
  <div class="content">
    <div class="markdown-body">
      {{ content }}
    </div>
  </div>
</div>